html,
body {
    margin: 0;
    overflow-x: hidden;
    background-image: url(bg_img.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-position: left top;
}
div {
    display: block;
    unicode-bidi: isolate;
}

#curtain {
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 1;
    pointer-events: none;
}

#title-scene {
    position: relative;
    width: 100%;
    aspect-ratio: 1440 / 1024;
    margin: 0px 0px 20px 0px; /*top right bottom left*/
}

#birds-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform-origin: center;
    animation: animating-birds-title 4s ease-in-out infinite;
}
    @keyframes animating-birds-title {
    0% {
        transform: translateY(0) scale(0.7);
    }
    50% {
        transform: translateY(-10px) scale(0.7);
    }
    100% {
        transform: translateY(0) scale(0.7);
    }
}
#title {
    position: absolute;
    top: 4.88%;
    left: 5%;
    z-index: 3;
    width: 90%;
}
h2{
    color: #020401;
    font-family: "Rock Salt", cursive;
    font-size: 1.74vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;

    position: absolute;
    top: 50%;
    left: 30%;
    z-index: 4;

    width: 7.74vw;
    height: 9.57vh;
    
    animation: animating-h2 3s ease-in-out infinite;
}
    @keyframes animating-h2 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0);
    }
}

#light {
    position: absolute;
    top: -50px;
    left: auto; 
    width: 100%;
    z-index: 2;
    opacity: 0.2;
    mix-blend-mode: overlay;
    pointer-events: none;
}

#shelf-scene {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 60vw;
    max-width: 980px;
    margin: -8vw 0 0;
    z-index: 0;
}
#music-button {
    position: absolute;
    top: -8.5%;
    left: 50%;
    display: block;
    transform: translateX(-50%);
    width: 54%;
    z-index: 2;

    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
#music-button:hover {
    transform: translateX(-50%) scale(1.03);
}
#shelf {
    display: block;
    width: 100%;
    aspect-ratio: 109/67;
}

/*---TEX EFFECTS STARTS HERE---*/
.regular-text{
    color: #020401;
    font-family: "Indie Flower", cursive;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height:normal;
    margin: 10px 10px 10px 10px;
}
.emphasize{
    color: #594E0A;

    font-family: "Rock Salt";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.scroll-line {
    display: inline-block;
    opacity:" 0.1";
    transform: translateY(14px);
    will-change: opacity, transform
}
    @keyframes animating-scroll-line {
    from {
        opacity: 0.1;
    }
    to{ 
        opacity: 1;
    }
}
/*---TEX EFFECTS ENDS HERE---*/

/*SHE SAID SCENE*/
#she-said-scene {
    display: inline-flex;
    justify-content: center;
    align-items: flex-end;
    gap: 36px;
}
#she-said{
    position: absolute;
    top: calc(100vw + 490px);
    left: 17vw;
}
#text-after-she-said{
    position: absolute;
    top: calc(100vw + 600px);
    left: 30vw;
    text-align: left;
    width: 35vw;
    height: auto;
}
/*VISUAL ELEMENTS*/

#she-said-anim-gb{
    position: absolute;
    z-index: 5;
    width: 12vw;
    height: auto;
    aspect-ratio: 14/9;
    left: 10vw;
    top: calc(100vw + 800px);
        /*Đặt vị trí phần tử cách mép trên một 
        khoảng bằng đúng chiều rộng của màn hình cộng 
        thêm 600 pixel?*/
    
    animation: animating-she-said-GB 3s ease-in-out infinite;
}
    @keyframes animating-she-said-GB {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0);
    }
}
#she-said-anim-rb{
    position: absolute;
    right: 5vw ;
    top: calc(100vw + 750px);

    width: 25vw;
    height: auto;
    aspect-ratio: 59/42;

    animation: animating-she-said-RB 3s ease-in-out infinite;
}
    @keyframes animating-she-said-RB {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0);
    }
}
#those-are-her{
    position: absolute;
    top: calc(100vw + 1300px);
    right: 5vw;
    text-align: right;
}

#as-far-as1{
    position: absolute;
    top: calc(100vw + 1800px);
    left: 5vw;
}
#door{
    width: 26.32vw;  /* 379 / 1440 * 100 */
    height: auto;
    aspect-ratio: 31/79;
    position: absolute;
    top: calc(100vw + 1800px);
    left: 50%;
    transform: translateX(-50%);
}

#gbird-walk-out {
    width: 26.32vw;
    height: auto;
    aspect-ratio: 31/79;
    position: absolute;
    top: calc(100vw + 1800px);
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    pointer-events: none;
}

#bird-fall{
    position: absolute;
    top: calc(100vw + 2000px);
}
#window-bird-fall{
    width: 100%;
    scale: 1.5;
    position: absolute;
    left: 50vw;
}
#text-bds{
    text-align: right;
}
#dont-listen{
    position: absolute;
    top: 4000px;
    width: 100%;
    scale: 0.8;
}
